<a href="https://colab.research.google.com/github/QuanRy/Machine_Learning/blob/main/lab_5/lab_5_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Импортируем pandas для чтения файла

In [81]:
import pandas as pd
df = pd.read_csv('loan3000.csv', delimiter=",")
df.head()

,Unnamed: 0,outcome,purpose_,dti,borrower_score,payment_inc_ratio
0,32109,paid off,debt_consolidation,21.23,0.40,5.11135
1,16982,default,credit_card,15.49,0.40,5.43165
2,25335,paid off,debt_consolidation,27.30,0.70,9.23003
3,34580,paid off,major_purchase,21.11,0.40,2.33482
4,14424,default,debt_consolidation,16.46,0.45,12.10320

In [86]:
df['outcome'].replace({'paid off': 0, 'default' : 1}, inplace = True)

In [87]:
df.head()

,Unnamed: 0,outcome,purpose_,dti,borrower_score,payment_inc_ratio
0,32109,0,debt_consolidation,21.23,0.40,5.11135
1,16982,1,credit_card,15.49,0.40,5.43165
2,25335,0,debt_consolidation,27.30,0.70,9.23003
3,34580,0,major_purchase,21.11,0.40,2.33482
4,14424,1,debt_consolidation,16.46,0.45,12.10320

In [93]:
#Разделим на признаки - это Х и целевую функцию, а это уже У
X=df.drop(['outcome','purpose_'], axis=1)
Y=df['outcome']

In [122]:
# Разделяем данные на обучающую и тестовую выборки 
X_train, X_test, y_train, y_test = train_test_split(X,Y, random_state=42)

In [123]:
# Создаем экземпляр класса DecisionTreeClassifier 
tree_clf = DecisionTreeClassifier(max_depth=2, random_state=0)

In [124]:
# Обучаем дерево решений 
tree_clf.fit(X_train, y_train) 
 
# Предсказываем значения для тестовой выборки 
y_pred = tree_clf.predict(X_test) 
 
# Оцениваем точность модели 
score = tree_clf.score(X_test, y_test) 
 
print("Предсказанные значения: ", y_pred) 
print("Точность модели: ", score)

Предсказанные значения:  [1 1 1 1 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 0 0 1 0 0 0 0 1 1 1 0 1 0 1 0 0 1 1
 1 1 0 1 0 0 1 1 1 0 0 0 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 0 0 1 1 0 0 0 1 1 0 1 1 1 1 1
 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 0
 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0 1 1 0 1 0 1 0 1 1 0 0
 0 1 0 1 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 0 0 1 1 1
 1 1 0 0 1 0 1 0 1 1 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1
 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 1 1 0 0 1 0 0 0 1 0 1 1 1 0 0 1 1 1 1 0 0 1
 0 0 0 0 0 1 1 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 0 0 0 1
 1 0 0 1 0 1 1 0 1 0 0 0 1 1 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 0
 1 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 1 0 1 0 0 0 1 1 1 0 0 0 1 0 0 1 0 1 1 1 0
 1 0 1 1 0 0 1 1 0 0 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 1 0 0 1 1 1 1 0 1 1 0 1
 0 0 1 1 0 0 1 0 1 0 1 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 0 1 1 1 1 1 1 0 1 0 1
 1 0 1 1 0 1 0 1 0 1 1 0 1 1 0 0 1 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 0 0 0 0 1
 0 0 1 0 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 1 1 0 1 1 0 0 1 1 1
 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 1 0 1 0 0 0 1 0 1
 0 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0
 0 0 1 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1
 1 1 1 0 1 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 1 1 1 0 1 1 1 0 0 1 1 0 0 1 0 0 0
 1 0 0 0 1 0 0 0 1 0]
Точность модели:  1.0

In [125]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [126]:

from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score 
from IPython.display import Image 
import graphviz

In [130]:
# Экспорт графа дерева решений в формате .dot 
dot_data = export_graphviz(tree_clf, out_file=None, feature_names=X.columns, class_names=['0', '1'], filled=True) 
 
# Отображение графа дерева решений 
graph = graphviz.Source(dot_data) 
graph.render(filename='tree1', format='png', cleanup=True)

'tree1.png'