<a href="https://colab.research.google.com/github/QuanRy/Machine_Learning/blob/main/lab_1/lab_1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# исходное число записей и последовательность для нумерации
N <- 100
Nrow <- 1:N

In [27]:
# формирование вектора случайно сгенерированных имен
gen_name <- function(x) {
  # lists of names examples
  name_list <- c("Сергей", "Никита", "Иван", "Николай", "Андрей", "Александр")
  surname_list<- c("Новрузов", "Орлов", "Григорьев", "Козякин", "Блинов", "Полешко")
  
  names_len <- length(name_list)
  
  emp_name <- paste(
    name_list[sample(1:names_len, 1)], 
    surname_list[sample(1:names_len, 1)]
  )
  emp_name
}

Name <- sapply(Nrow, gen_name)

In [28]:
# остальные вектора
gen_empl_year <- function(birthday) {
  sample((birthday + 18):2006, 1)
}

BirthYear <- sample(1965:1990, N, replace=T)

EmployYear <- sapply(BirthYear, gen_empl_year)

Salary <- sample(10000:30000, N, replace=T)

In [29]:
# собираем датафрейм и выводим его
df <- data.frame(
  Nrow=Nrow,
  Name=Name,
  BirthYear=BirthYear,
  EmployYear=EmployYear,
  Salary=Salary
)

head(df)
tail(df)

  Nrow Name               BirthYear EmployYear Salary
1 1    Александр Новрузов 1973      1996       25299
2 2    Иван Орлов         1987      2005       22930
3 3    Иван Новрузов      1965      1989       22377
4 4    Александр Новрузов 1974      2001       18594
5 5    Николай Новрузов   1968      1990       28144
6 6    Иван Григорьев     1968      1998       21634

    Nrow Name              BirthYear EmployYear Salary
95   95  Николай Блинов    1980      2000       14914
96   96  Александр Полешко 1989      2007       10874
97   97  Иван Орлов        1970      2003       18721
98   98  Иван Орлов        1982      2001       19257
99   99  Иван Новрузов     1975      2001       29221
100 100  Николай Козякин   1990      2007       14654

# Определим кол-во сотрудников с зарплатой более чем 15000:

In [30]:
salary_cmp_count <- nrow(df[df$Salary > 15000,])
cat(sprintf("Число сотрудников с зарплатой, больше 15000: %i", salary_cmp_count))

Число сотрудников с зарплатой, больше 15000: 81

# Вычисляем суммарный налог сотрудников за всё время работы:

In [31]:
# расчет суммарного подоходного налога за все время работы в организации
currrent_year <- as.numeric(format(Sys.Date(), format="%Y"))
df$TotalIncomeTax <- with(df, (currrent_year - EmployYear)*Salary*0.13)

# финальный результат
head(df)

  Nrow Name               BirthYear EmployYear Salary TotalIncomeTax
1 1    Александр Новрузов 1973      1996       25299   88799.49
2 2    Иван Орлов         1987      2005       22930   53656.20
3 3    Иван Новрузов      1965      1989       22377   98906.34
4 4    Александр Новрузов 1974      2001       18594   53178.84
5 5    Николай Новрузов   1968      1990       28144  120737.76
6 6    Иван Григорьев     1968      1998       21634   70310.50